#communities-section {
	display: flex;
	justify-content: center;
	width: calc(100% - 24px);
	padding: 0 12px;
}

#communities-container {
	padding-bottom: 80px;
	max-width: 1495px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, 430px));
	gap: 24px;
	justify-content: center;
}

.community-card {
	width: 380px;
	min-height: 260px;
	border: #444444 2px solid;
	padding: 22px;
	position: relative;
	background: var(--bg);
}

.community-card:hover {
	border-color: #6b6b6b;
}

.community-name {
	font-size: 2.4rem;
	margin-top: 22px;
	color: var(--primary);
	max-width: 380px;
}

.img-and-location {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.location {
	background: #acff2f28;
	padding: 6px 12px;
	width: fit-content;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	gap: 6px;
	margin: 0;
}

.logo-img {
	padding: 3px;
	height: 32px;
	/* filter: grayscale(100%); */
	/* border: #acacac 2px solid; */
	border-radius: 8px;
}

.event-time {
	background: #272727;
	padding: 3px 6px;
	width: fit-content;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}

.link-box {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 2px solid #acff2f28;
}

.link-box:hover{
	background: #acff2f41;
}

.links-container {
	display: flex;
	gap: 18px;
	flex-wrap: wrap;
	height: 70%;
	align-content: start;
}

@media (width<512px) {

	.community-card {
		width: 80%;
	}

	#communities-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
		padding: 0;
	}

}